body {
  background-color: antiquewhite;
}

.header {
  font-size: 30px;
  color:white;
  background-color: rgb(4, 90, 61);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.sectionAddTask {
  background-color: white;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.formAddTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.inputAddTask {
  padding: 5px;
  border-radius: 5px;
}

.buttonSubmit {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  background-color:rgb(4, 90, 61);
}

.sectionSearchTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.formSearchTask {
  display: flex;
  gap: 10px;
}

.inputSearchTask {
  padding: 5px;
  border-radius: 5px;
}

.buttonSearch {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  background-color:rgb(4, 90, 61);
}